@font-face {
    font-family: 'font';
    src: url('./font.ttf') format('truetype');
}

#body_ {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.column {
    display: flex;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.block {
    height: 15vh;
    width: 15vh;
    font-family: "font";
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #829d56;
}